body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.bvm-website {
    width: 100%;
    height: calc(100vh - 60px);
    border: none;
    margin-bottom: 60px;
}

.chatBot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 0;
}

.chatBot-button:hover {
    transform: scale(1.1);
}

.chatbot-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.gif-container {
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 60px;
    height: 60px;
    display: none;
}

.chatbot-container {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 350px;
    height: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chatbot-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0056b3;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.chatbot-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f0f2f5;
}

.chatbot-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.chatbot-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.chatbot-footer .send-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.chatbot-footer .send-btn:hover {
    background-color: #0056b3;
}
