.dashboard {
    position: fixed;
    /* Fixed positioning to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    overflow: hidden;
    /* Hide any overflow */
}
iframe {
    width: 100%;
    /* Full width of the container */
    height: 100%;
    /* Full height of the container */
    border: none;
    /* Remove border */
}